/*TAG SELECTORS*/

h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}

/*CLASS SELECTORS*/

.Pizza {
  background-color: green;
}

.Fries {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/*ID SELECTORS*/

#heading {
  color: blue;
}
