<%- include("header") -%>

<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi totam dicta cum
  dolores facere, numquam omnis vel nesciunt nisi porro. Fugit minima quia
  adipisci quisquam nesciunt dicta ab totam? Enim?
</p>

<%- include("footer") -%>
